<div class="container">
  <h1>Welcome to Blogalicious!</h1>
  
  <ul>
    <li><a href="/posts">See All Posts</a></li>
    <li><a href="/posts/new">Create a New Post</a></li>
  </ul>


  <p>Have 2-3 newest posts below, maybe?</p>
  
</div>
