<div class="container">
  <h1>Create a New Blogalicious Post!</h1>

  
  <form id='create_post' action="/" method="post">
    Post Title:
    <br>
    <input type="text" name="post_title">
    <br><br>

    <TEXTAREA name="post_body" rows="10" cols="50">
      Sup?
    </TEXTAREA>
    <br><br>
    <input type="submit" value="Submit Post"/>
  </form>  

</div>




