<div class="container">
  <h1><%=@post.title%></h1>
  <p><%=@post.body%></p>
  <br>
  <p>Created on: <%=@post.created_at%></p>

  <ul>
    <li><a href="/">Back to Index</a></li>
    <br>
    <li><a href="/posts/<%=@post.id%>/edit">Edit This Post</a></li>
    <br>
  </ul>

</div>
